<!DOCTYPE html>
<html>
    <head>
    <title>Product</title>
        <style>
            body {
                background-image: url("https://wallpapers.com/images/featured/white-hd-background-65hm9z7go91ouhs5.webp");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        </style>
    </head>
</html>
    <h2>Books:</h2>
    <body>
    <ul>
        <li><a href="https://asaxiy.uz/uz/product/tohir-malik-shaitanat-tuplam" target="_blank">Shaytanat</a></li>
        <li><a href="https://asaxiy.uz/uz/product/chuqintirgan-ota-yaa" target="_blank">Cho'qintirgan ota</a></li>
        <li><a href="https://asaxiy.uz/uz/product/otabek-mahkamov-yuksaklik-sari-tasodif-bulmagan-100-ta-uchrashuv" target="_blank">Yuksaklik Sari Tasodif Bo'lmagan 100 ta Ucshrashuv</a></li>
        <li><a href="https://asaxiy.uz/uz/product/zhorzh-oruell-1984-yangi-nashr" target="_blank">Jorj Ourell</a></li>
    </ul>
    <br>
    <p>
        <h1>Products</h1>
        <body>
        <ul>
            <li><a href="https://asaxiy.uz/product/artur-konan-dojl-sherlok-holms-hakida-hikoyalar" target="_blank">Sherlok Holmas</a></li>
            <li><a href="https://asaxiy.uz/uz/product/agata-kristi-quyosh-ostidagi-yovuzlik-qattiq-muqova" target="_blank">Quyosh Ostidagi Yovuzlik</a></li>
            <li><a href="https://asaxiy.uz/uz/product/robert-ladlem-born-mukoyasasi" target="_blank">Born Muqoyasasi</a></li>
            <li><a href="https://asaxiy.uz/uz/product/fyodor-dostoevskij-zhinoyat-va-zhazo-kamalak" target="_blank">Jinoyat Va Jazo</a></li>
            <li><a href="https://asaxiy.uz/uz/product/agata-kristi-unta-negr-bolasi" target="_blank">O'nta Negr Bolasi</a></li>
        </ul>

        </body>

    </p>

</body>